b/* Base */
body {
  line-height: 1.7;
  color: #fff;
  font-weight: 400;
  font-size: 1rem;
  font-family: SegoeUI;
}

@font-face {
  font-family: Segoe UI;
  src: url(./fonts/SegoeUI.ttf);
}

::-moz-selection {
  background: #000;
  color: #fff;
}

::selection {
  background: #000;
  color: #fff;
}

a {
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
  color: #0b5be0;
}
a:hover {
  text-decoration: none;
  color: #3f51b5 !important;
}

h1,
h2,
h3,
h4,
h5,
.h1,
.h2,
.h3,
.h4,
.h5 {
  /* font-family: "Segoe UI"; */
}

p {
  /* font-family: "Segoe UI"; */
  font-weight: 500;
}

.main-banner-sec {
  background-image: url(../images/header-banner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0% 0%, 0% 0%;
  padding: 10px 0 60px;
}

a.nav-link {
  color: #fff;
  font-family: "Segoe UI";
  font-weight: 500;
}

.header-banner {
  margin-top: 110px;
}

.banner-text {
  padding-top: 45px;
}

.banner-text h1 {
  color: #f3f3f3;
  font-size: 30px;
  margin-bottom: 21px;
  letter-spacing: 0.6px;
  font-weight: 700;
  text-transform: capitalize;
}

.banner-text p {
  color: #dddddd;
  font-size: 14px;
}

.header-img {
  padding: 20px;
}

button.btn.btn-contact {
  background: #5ab1dc;
  padding: 10px 30px;
  color: #fff;
  border-radius: 6px;
  margin-top: 15px;
  font-family: "Segoe UI";
  font-weight: 500;
}

.about-us-sec {
  padding: 70px 0;
}

.about-us-text h2 {
  font-size: 35px;
  margin-bottom: 20px;
  padding-top: 5px;
  text-transform: uppercase;
  letter-spacing: 0.4px;
}

.about-us-text {
  padding-top: 10px;
}

.about-us-text span {
  color: #27146c;
  font-weight: 500;
  text-transform: capitalize;
  font-size: 13px;
  letter-spacing: 0.4px;
}

.about-us-text p {
  text-align: justify;
  font-size: 14px;
  color: #858b91;
  margin-bottom: 15px;
  letter-spacing: 0.3px;
}

.about-img {
  position: relative;
  animation: mymove 5s infinite;
  animation-duration: 3s;
}

@keyframes mymove {
  0% {
    top: 0px;
  }
  100% {
    top: 20px;
  }
}

.title-sec {
  text-align: center;
  margin-bottom: 70px;
}

.title-sec h4 {
  font-size: 14px;
  text-transform: capitalize;
  color: #858b91;
  letter-spacing: 0.6px;
}

.title-sec h2 {
  font-size: 35px;
  margin-bottom: 15px;
  color: #000;
}

.title-sec p {
  color: #858b91;
  font-size: 13px;
  line-height: 24px;
}

.icon {
  background: #7333d2;
  width: 60px;
  padding: 12px;
  border-radius: 12px;
  height: 60px;
  margin-bottom: 15px;
}

.single-service h3 {
  font-size: 17px;
}

.single-service p {
  font-size: 13px;
  color: #6b6b6b;
  font-weight: 500;
}

.single-service {
  margin-bottom: 50px;
}

.services,
.testimonial {
  background: #f5efff;
  padding: 80px 0 30px;
}

span.whyus {
  color: #7e57c2;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.3px;
  font-size: 13px;
}

.whyus-img {
  text-align: right;
  padding-top: 8%;
}

.whyus {
  max-height: 330px;
  text-align: right;
  position: relative;
  transform-style: preserve-3d;
  animation: rotate 50s infinite;
}

/* Animating the elements 
@keyframes rotate {
    0%,
    100% {
        transform: rotateX(0deg);
    }
    40% {
        transform: rotateY(360deg) ;
    }

    80% {
        transform: rotateY(20deg) ;
    }
   
   
}

*/

.single-points h3 {
  font-size: 17px;
  margin-bottom: 13px;
}

.single-points p {
  font-size: 14px;
  color: #858b91;
  letter-spacing: 0.3px;
}

.stand-out-sec h2 {
  margin-bottom: 35px;
}

.single-points {
  margin-bottom: 40px;
}

.single-points h3 img {
  margin-right: 7px;
}

.stand-out-sec {
  padding: 60px 0;
}

.testimonial {
  background: #2d56b3;
}

.testimonial .title-sec {
  color: #fff;
}

.testimonial .title-sec h4,
.testimonial .title-sec p {
  color: #f1f1f1;
}

.testimonial h2 {
  color: #fff;
}

.single-testimonial {
  background: #f9f9f9;
  padding: 40px 20px;
  border-radius: 2px;
  text-align: center;
  margin-bottom: 30px;
}

.profile {
  text-align: center;
  margin-bottom: 25px;
}

.profile img {
  max-width: 80px;
  border: 3px solid #5ab1dc;
  border-radius: 100px;
}

.single-testimonial h3 {
  font-size: 17px;
}

.single-testimonial p {
  font-size: 14px;
  margin: 17px 0;
  color: #5d5d5d;
}

.single-testimonial h4 {
  font-size: 12px;
  color: #2d56b3;
  letter-spacing: 0.4px;
}

.footer {
  background: #061114;
  padding: 40px 0 20px;
  color: #cdcdcd;
  text-align: center;
  font-size: 15px;
  line-height: 25px;
}

.footer-logo {
  text-align: center;
  margin-bottom: 30px;
}

.info.con-width {
  max-width: 600px;
  margin: 0 auto;
}

.contact-detail .icon {
  background: #4e4e4e;
  width: 27px;
  padding: 12px;
  border-radius: 38px;
  height: 27px;
  margin-bottom: 15px;
}

.item img {
  width: 18px;
  text-align: center;
}

.cont {
  margin-top: 20px;
}

p.footer-about {
  margin-bottom: 50px;
  padding-top: 20px;
}

.copyright {
  margin-top: 30px;
  font-size: 11px;
  letter-spacing: 0.5px;
}

.team-sec-section {
  padding: 50px 0;
}

.single-team {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  cursor: pointer;
  position: relative;
}
.team-member--img {
  width: 300px;
  height: 300px;
}
.team-detail {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  padding: 30px;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  /* left: 5%; */
  /* top: 300px; */
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: translate(0%, -100%) scale(0.9);
  -ms-transform: translate(0%, -100%) scale(0.9);
  transform: translate(0%, -100%) scale(0.9);
  background: #2650af;
  width: 400px;
  height: 400px;
  border: 15px solid #5489ff;
}
.team-sec:hover .team-sec-section {
  opacity: 0.5;
}

.team-sec:hover .team-detail {
  opacity: 1;
  visibility: visible;
  z-index: 100;
  -webkit-transform: translate(-5%, -90%) scale(1);
  -ms-transform: translate(-5%, -90%) scale(1);
  transform: translate(-5%, -90%) scale(1);
}
.container {
  max-width: 1170px !important;
}
.member-description {
  text-align: center;
  margin-top: 25px;
}
.member-description .member-name {
  text-transform: uppercase;
  color: #721b6a;
  font-size: 26px;
}
.team-detail .card-member-name {
  text-transform: uppercase;
  color: #fff;
  font-size: 26px;
}
.team-detail .card-member-designation {
  font-size: 16px;
  font-weight: 450;
}
.team-detail .member-talent {
  font-size: 20px;
  text-transform: uppercase;
  margin: 20px 0 20px;
  font-weight: 500;
}
#team-member-1 {
  background-color: #5dbeeb;
  border: 15px solid #9fd5ee;
}
#team-member-2 {
  background-color: rgb(13, 184, 118);
  border: 15px solid #aed0c5;
}
#team-member-4 {
  background-color: #c95670;
  border: 15px solid #e4abb8;
}
#team-member-6 {
  background-color: #7c3775;
  border: 15px solid #be9bba;
}
/* Contact Us  */
.contact-us {
  padding: 40px;
  background-color: #f5efff;
}
.contact-us-title {
  text-align: center;
}
.contact-us-card {
  background-color: white;
  padding: 40px 0;
  box-shadow: 0px 5px 15px rgb(180, 178, 178);
  border-radius: 10px;
  margin: 30px 0 50px;
  border-top: 10px solid rgb(13, 184, 118);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-us-card .contact-icon {
  background-color: black;
  border-radius: 50%;
  padding: 20px;
}
#contact-card-1 {
  border-top: 10px solid rgb(19, 23, 247);
}
#contact-card-2 {
  border-top: 10px solid #7c3775;
}
.contact-us-card .contact-type {
  margin: 15px 0;
  font-size: 17px;
}

.contact-btn {
  border: 2px solid blue;
  padding: 10px 40px;
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
  color: black;
  margin: 15px 0 0;
}
.contact-btn:hover {
  background-color: blue;
  color: white !important;
  transition: 0.2s ease-in-out;
}
.contact-us {
  /* background: #2d56b3; */
}
