b/* Base */
body {
  line-height: 1.7;
  color: #fff;
  font-weight: 400;
  font-size: 1rem;
  font-family: "Calibre";
}

::-moz-selection {
  background: #000;
  color: #fff;
}

::selection {
  background: #000;
  color: #fff;
}

a {
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
  color: #0b5be0;
}
a:hover {
  text-decoration: none;
  color: #3f51b5 !important;
}

h1,
h2,
h3,
h4,
h5,
.h1,
.h2,
.h3,
.h4,
.h5 {
  font-family: "Muli", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
}

.main-banner-sec {
  background-image: url(../images/header-banner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0% 0%, 0% 0%;
  padding: 10px 0 60px;
}

a.nav-link {
  color: #fff;
}

.header-banner {
  margin-top: 110px;
}

.banner-text {
  padding-top: 45px;
}

.banner-text h1 {
  color: #f3f3f3;
  font-size: 35px;
  margin-bottom: 21px;
}

.banner-text p {
  color: #d9d9d9;
  font-size: 14px;
}

.header-img {
  padding: 20px;
}

button.btn.btn-contact {
  background: #42b4ed;
  padding: 10px 30px;
  color: #fff;
  border-radius: 4px;
  margin-top: 15px;
}
