b/* Base */
body {
  line-height: 1.7;
  color: #fff;
  font-weight: 400;
  font-size: 1rem;
  font-family: "Calibre";
}

::-moz-selection {
  background: #000;
  color: #fff;
}

::selection {
  background: #000;
  color: #fff;
}

a {
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
  color: #0b5be0;
}
a:hover {
  text-decoration: none;
  color: #3f51b5 !important;
}

h1,
h2,
h3,
h4,
h5,
.h1,
.h2,
.h3,
.h4,
.h5 {
  font-family: "Muli", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
}

.container {
  max-width: 1170px !important;
}

.main-banner-sec {
  background-image: url(../images/header-banner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0% 0%, 0% 0%;
  padding: 10px 0 60px;
}

a.nav-link {
  color: #fff;
}

.header-banner {
  margin-top: 110px;
}

.banner-text {
  padding-top: 45px;
}

.banner-text h1 {
  color: #f3f3f3;
  font-size: 35px;
  margin-bottom: 21px;
}

.banner-text p {
  color: #d9d9d9;
  font-size: 14px;
}

.header-img {
  padding: 20px;
}

button.btn.btn-contact {
  background: #42b4ed;
  padding: 10px 30px;
  color: #fff;
  border-radius: 4px;
  margin-top: 15px;
}

.about-us-sec {
  padding: 100px 0;
}

.about-us-text h2 {
  text-transform: capitalize;
  font-size: 26px;
  margin-bottom: 20px;
}

.about-us-text p {
  text-align: justify;
  font-size: 15px;
  color: #575656;
  margin-bottom: 15px;
}

.title-sec {
  text-align: center;
  margin-bottom: 70px;
}

.title-sec h4 {
  font-size: 14px;
  text-transform: capitalize;
  color: #5219a4;
  letter-spacing: 0.6px;
}

.title-sec h2 {
  font-size: 30px;
  margin-bottom: 15px;
}

.title-sec p {
  color: #999999;
  font-size: 14px;
  line-height: 24px;
}

.icon {
  background: #7935d79c;
  width: 60px;
  padding: 12px;
  border-radius: 12px;
  height: 60px;
  margin-bottom: 15px;
}

.single-service h3 {
  font-size: 17px;
}

.single-service p {
  font-size: 14px;
  color: #696969;
  letter-spacing: 0.3px;
}

.single-service {
  margin-bottom: 50px;
}

.services,
.testimonial {
  background: #f5efff;
  padding: 80px 0 30px;
}

span.whyus {
  color: #7e57c2;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.3px;
  font-size: 13px;
}

.single-points h3 {
  font-size: 17px;
  margin-bottom: 13px;
}

.single-points p {
  font-size: 15px;
  color: #444444;
}

.stand-out-sec h2 {
  margin-bottom: 35px;
}

.single-points {
  margin-bottom: 40px;
}

.single-points h3 img {
  margin-right: 7px;
}

.stand-out-sec {
  padding: 60px 0;
}

.testimonial {
  background: #7e57c2;
}

.testimonial .title-sec {
  color: #fff;
}

.testimonial .title-sec h4,
.testimonial .title-sec p {
  color: #d7d7d7;
}

.single-testimonial {
  background: #f9f9f9;
  padding: 10px 20px;
  border-radius: 8px;
  text-align: center;
  margin-bottom: 30px;
}

.profile {
  text-align: center;
  margin-bottom: 25px;
}

.profile img {
  max-width: 80px;
  border: 3px solid #7e57c2;
  border-radius: 100px;
}

.single-testimonial h3 {
  font-size: 17px;
}

.single-testimonial p {
  font-size: 14px;
  margin: 17px 0;
  color: #5d5d5d;
}

.single-testimonial h4 {
  font-size: 11px;
  color: #7e57c2;
}

.footer {
  background: #061114;
  padding: 40px 0 20px;
  color: #cdcdcd;
  text-align: center;
  font-size: 15px;
  line-height: 25px;
  border-bottom: 8px solid #7e57c2;
}

.footer-logo {
  text-align: center;
  margin-bottom: 30px;
}

.info.con-width {
  max-width: 600px;
  margin: 0 auto;
}

.contact-detail .icon {
  background: #4e4e4e;
  width: 27px;
  padding: 12px;
  border-radius: 38px;
  height: 27px;
  margin-bottom: 15px;
}

.item img {
  width: 18px;
  text-align: center;
}

.cont {
  margin-top: 20px;
}

p.footer-about {
  margin-bottom: 50px;
  padding-top: 20px;
}

.copyright {
  margin-top: 30px;
  font-size: 11px;
  letter-spacing: 0.5px;
}
